body {
    font-family: Arial, sans-serif;
    background-color: #3e5a72;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3e5a72;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

main {
    padding-top: 70px; /* Ajustar para asegurar que el contenido no se superponga con la barra de navegación */
    padding: 20px;
}

button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.fraction-input {
    display: inline-block;
    margin: 10px;
}

.fraction-bar {
    width: 100%;
    height: 2px;
    background-color: yellow;
    margin: 5px 0;
}

input[type="text"] {
    width: 60px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Centrar imágenes y agregar margen inferior */
}

#result-steps {
    margin-top: 20px;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    border-radius: 5px;
}
